
    <div class="header-section-list">
      <span *ngIf="!modeCard" style="padding-left: 5px">{{titleMode}}</span>
      <div  *ngIf="modeCard" style="padding-left: 5px">
        <a class="button-tab" routerLinkActive="active" md-button-sm [routerLink]="['recent']">Recent</a>
        <a class="button-tab" routerLinkActive="active" md-button-sm [routerLink]="['shared']">Shared with me</a>
        <a class="button-tab" routerLinkActive="active" md-button-sm [routerLink]="['starred']">Starred</a>
        <a class="button-tab" routerLinkActive="active" md-button-sm [routerLink]="['archive']">Archive</a>
      </div>
      <span fxFlex></span>
      <button (click)="changeMode()" md-icon-button>
        <md-icon *ngIf="modeCard" routerLink="list">view_list</md-icon>
        <md-icon *ngIf="!modeCard" routerLink="recent">view_module</md-icon>
      </button>
      <button (click)="orderByName()" md-icon-button>
        <md-icon>sort_by_alpha</md-icon>
      </button>
      <button md-icon-button>
        <md-icon>folder</md-icon>
      </button>
    </div>

    <router-outlet></router-outlet>
